body {
    margin: auto;
    max-width: 100ch;
    padding: 1ch 2ch;
    font-family: "Lora";
    background-color: #323739;
    background-image: url("./default-tile-texture-4kBG.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #839496;
}

a {
    /* color: #2aa198; */
    color: #3089a0;
}

.left-aligned {
    float: left;
}

.right-aligned {
    float: right;
}
